/* main container css */
.main-container {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f9fafb;
}

/* ====================================================== Header CSS ===================================================== */
.app-header {
    padding: 1rem;
    z-index: 26;
    align-items: center;
    position: relative;
    z-index: 12;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    flex: 0 0 auto;
}

.app-header-content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    /* max-width: 1300px; */
}

.header-icon {
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
}

.header-icon-img {
    height: 50px;
}

.app-header-title {
    display: flex;
    align-items: center;
}

.app-header-title .title {
    align-items: center;
    font-size: 20px;
}

/* ====================================================== Content CSS ===================================================== */
.main-content, .result-content {
    background-color: white;
    padding: 20px 2rem;
    max-width: 1300px;
    margin: auto;
    margin-top: 1vh;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: none;
}

.edit-show {
    display: none;
}

/* tab css */
.main-tab-btn {
    line-height: 1.25rem;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
    border: 0 solid #e5e7eb;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.main-tab-btn-before {
    line-height: 1.25rem;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
    border: 0 solid #e5e7eb;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.main-tab-btn.active {
    color: green;
    font-weight: bold !important;
}

.main-tab-btn.edited {
    color: green;
    font-weight: 500;
}

/* continue button */
.continue-panel {
    text-align: center;
}

.continue_button {
    margin: auto;
}

.chart-box .chart {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 33px;
    color: #fff;
}


.chart-box font {
    display: block;
    text-align: center;
    color: #fff;
}

.chart-box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
}

/*  ============================================= end Content css ===========================================  */






/* form css */

.custom-input {
    line-height: 1.25rem;
    font-size: .875rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-color: rgb(209 213 219/var(--tw-border-opacity));
    border-radius: 0.375rem;
}

.custom-select {
    line-height: 1.2rem;
    font-size: .875rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    border-width: 1px;
    border-color: rgb(209 213 219/var(--tw-border-opacity));
    border-radius: 0.375rem;
    margin-top: 0px !important;
}

.validate-error {
    border-color: red !important;
}