body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
}

#default_content {
    background-color: #505356;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: #2a2c2d;
    padding: 1rem;
    z-index: 26;
    align-items: center;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    flex: 0 0 auto;
}

.app-header-content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.header-icon {
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
}

.header-icon-img {
    height: 32px;
}

.app-header-title {
    display: flex;
    align-items: center;
}

.app-header-title .title{
    align-items: center;
    color: white;
    font-size: 18px;
}