 body {
     margin: 0;
     width: 300px;
     font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
     background-color: white;
     min-height: 400px;
 }

.popup-content {
    z-index: 10;
}

 .bg-white {
    background-color: white;
 }

 .bg-header {
    background-color: #f9fafb;
 }

.border-bottom-1 {
    border: 1px solid lightgray;
}

.app-header {
    padding: 1rem;
    z-index: 26;
    align-items: center;
    position: relative;
    z-index: 12;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    flex: 0 0 auto;
    box-shadow: 1px 1px lightgray;
}

.app-header-content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.header-icon {
    cursor: pointer;
    align-items: center;
    margin-right: 0.8rem;
}

.header-icon-img {
    height: 35px;
}

.app-header-title {
    display: flex;
    align-items: center;
}

.app-header-title .title {
    align-items: center;
    color: rgb(57, 57, 57);
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 1px gray;
}

.ft-16 {
    font-size: 16px;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.position-relative {
    position: relative;
}

.anim-image-popup {
    position: absolute; 
    top: 20px; 
    left: 40px; 

    z-index: 1;
    animation-timing-function: linear;
    animation: popup-image-anim 1.5s infinite alternate linear;
}

@keyframes popup-image-anim {
    from {
        top: 20px; 
    }
    to {
        top: 40px; 
    }
}

.img-100 {
    position: absolute;
    top: 30px;
    right: 60px;
}

.img-anim-rotate {
    position: absolute;
    top: 15px;
    right: 45px;
    animation-timing-function: linear;
    animation: rotate-anim 30s infinite linear;
}

@keyframes rotate-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}