body {
    margin: 0;
    width: 357px;
    font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
    background-color: #505356;
}

#default_content {
    background-color: #505356;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: #2a2c2d;
    padding: 1rem;
    z-index: 26;
    align-items: center;
    position: relative;
    z-index: 12;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    flex: 0 0 auto;
}

.app-header-content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.header-icon {
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
}

.header-icon-img {
    height: 32px;
}

.app-header-title {
    display: flex;
    align-items: center;
}

.app-header-title .title {
    align-items: center;
    color: white;
    font-size: 18px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: none;
}

#content {
    padding: 30px;
}

#content #content_title {
    color: white;
    font-size: 20px;
    line-height: 1.4em;
    margin: 0;
}

#content_title .option-link {
    color: aqua;
    font-weight: bold;
}

#content #button_panel {
    margin-top: 20px;
}

.autofill-btn {
    margin-top: 20px;
    background-color: #2f80ed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 5px 35px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}


.autofill-btn:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.autofill-btn:hover:after {
    opacity: .5;
}

.autofill-btn:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.autofill-btn:active:after {
    opacity: 1;
}

@media (min-width: 768px) {
    .autofill-btn {
        padding: 14px 22px;
        width: 176px;
    }
}

.option-btn {
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 10px !important;
    margin: auto;
    text-decoration: underline;
    cursor: pointer;
}